.carbanner_head{
    position: relative;
    margin-top: 100px;
}


.carbanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    height: 85%;
    width: 100%;
    padding: 20px;
    color: #ced4da;
    background-color: transparent;
}


.carbanner_img{
    width: 100%;
    background-size: contain;
    height: max(27vw, 100px);
    border-radius: 20px;
    filter: brightness(50%);
}

.carb1{
    display: flex;
    gap: 50px;
    align-items: first baseline;
    padding-left: 30px;
    background-color: transparent;
}

.carb2{
    padding-right: 30px !important;
    background-color: transparent;
}

.carb_div1,
.carb_div2 h4,
.carb_div2 p,
.carb_div2{
    background-color: transparent;
}

.carb_div2 h4{
    color: rgba(206, 212, 218); 
    font-size: max(2.5vw, 20px); 
    font-weight: 300;
}

.carb_div2 p{
    color: rgba(206, 212, 218,.7);
    font-size: max(12px, 1.4vw);
}

.carb_div1 img{
    width: max(40px, 4vw);
    position: relative;
    top: 5px;
    background-color:rgb(179, 179, 38);
    border-radius: 50%;
}

.carb2{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px;
}

.carb2 input{
    width: 75%;
    height: max(20px, 3vw);
    border-radius: 5px 0px 0px 5px;
    color: #ced4da;
    padding-left: 20px;
    outline: none;
    border: none;
    border-block: 1px solid rgb(179, 179, 38);
    background-color: transparent;
    font-size: max(12px, 1.3vw);

}

.carb2 button{
    width: 25%;
    height: max(20px, 3vw);
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: max(12px, 1.1vw);
    line-height: 10px;
    background-color:rgb(179, 179, 38);
}

@media (max-width:750px){
    .carbanner{
        display: flex;
        flex-direction: column;
    }

    .carb1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .carb2{
        width: 60%;
        display: flex;
        padding-left: max(10vw, 30px);
    }

    .carb2 input{
        width: 70%;
        font-size: max(1.5vw, 7px);
        padding-left: 7px;
    }

    .carb2 button{
        width: 40%;
        font-size: max(1.5vw, 7px);
        line-height: 2px;
    }

}

@media (max-width:550px) {
    .carb_div2 p{
        display: none;
    }

    .carb_div2 h4{
        font-size: max(3vw,12px);
    }

    .carb_div1 img{
        width: max(30px, 4vw);   
    }

}