.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
}

.navbar .logo{
    width: 150px;
    height: 50px;
    background-color: transparent;
    filter: brightness(90%);

}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(239, 242, 246);
    font-size: 18px;
    background-color: transparent;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: transparent;
}

.navbar button{
    font-size: 16px;
    background-color: rgb(123, 241, 168);
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    color: #111d13;
}

.navbar button:hover{
    background-color: rgba(120, 242, 167,.6);
    color: aliceblue;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #7bf1a8;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}


@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}



@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}


@media (max-width:750px){
    .navbar-menu{
        display: none;
    }
}